#mainSheet{
    position: relative;
    z-index: -5;

    display: flex;
    flex-direction: row;

    width: 96%;
    height: 82vh;
    margin: 5vh auto 0;
    padding: 18px;
    box-sizing: border-box;

    background-color: lighten( $secondary_light_color, 8% );
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #777;

    overflow:auto;

    .cells{
        margin: 1px;
        padding: 4px 8px;
        height: fit-content;

        overflow: hidden;
        white-space: nowrap;
    }

    .container{
        margin: 1px 2px;
        border: 1px solid;
        border-radius: 6px;
    }

    .bigTitle{
        background-color: $primary_dark_color;
        border-color: darken( $primary_dark_color, 10% );
    }

    #courseTitle{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        // color: beige;

        // span{
        //     background-color: $tertiary_dark_color;
        // }
    }
    
    .stageContainer{
        background-color: lighten( $primary_dark_color, 30% );
        border-color: darken( $primary_dark_color, 10% );
    }

    .testGroupContainer{
        background-color: lighten( $primary_dark_text_color, 50% );
        border-color: darken( $primary_dark_color, 10% );
    }
    
    .testContainer{
        background-color: lighten( $secondary_dark_color, 10% );
        border-color: darken( $primary_dark_color, 10% );
    }
    
    .studentContainer{
        
        background-color: lighten( $secondary_light_color, 8% );
        border-color: darken( $primary_dark_color, 10% );

        font: {
            family: 'Arial';
            size: 1.1rem;
            weight: bold;
        }
        text-align: left;
        text-overflow: ellipsis;

        cursor: pointer;

        transition: background-color .3s;

        &:hover{
            background-color: #aaa;
        }
    }

    h3{
        font-size: 1.4rem;

        text-align: center;
    }

    h4{
        font-size: 1.1rem;
        
        text-align: center;
        text-overflow: ellipsis;
    }
    
    h5{
        font-size: 1rem;

        text-align: center;
        text-overflow: ellipsis;
    }

    .buttons{
        width: fit-content;
        
        font-size: 1rem;
        border: 1px solid #333;
        border-radius: 6px;
        cursor: pointer;
    
        transition: background-color .3s;

        &.stage{
            background-color: lighten( $primary_dark_color, 30% );
        }

        &.testGroup{
            background-color: lighten( $primary_dark_text_color, 50% );
        }

        &.test{
            background-color: lighten( $secondary_dark_color, 10% );
        }

        &:hover{
            background-color: #aaa;
        }
    }

    .edit{
        cursor: pointer;
        color: black;
        
        transition: color .4s;

        &:hover{
            color: lighten( $tertiary_dark_color, 40% );
        }
    }

    .score{
        font: {
            family: 'Arial';
            size: 1.1rem;
            weight: bold;
        }
        text-align: center;
        
        &:focus{
            user-select: all;
        }
        
        &.grades{
            width: 2.2vw;
            background-color: beige;
            cursor: pointer;
            text-overflow: ellipsis;
        }

        &.avr{
            width: 3vw;
            background-color: #ddd;
        }
    }

    #promGral{
        background-color: lighten( $tertiary_dark_color, 50% );
    }
}

#studentsColumn{
    display: flex;
    flex-direction: column;

    width: 13%;
}

#gradesGrid{
    display: flex;
    flex-direction: column;

    width: 86%;

    #stagesContainer{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

.testGroupsContainer, .testsContainer, .leftHalfContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.testGroupsContainer{
    align-items: end;
}

.gradesContainer, .averagesContainer{
    display: flex;
    flex-direction: column;
}