#mainSheet{
    position: relative;
    z-index: -5;

    display: flex;
    flex-direction: row;

    width: 96%;
    height: 82vh;
    margin: 5vh auto 0;
    padding: 18px;
    box-sizing: border-box;

    background-color: lighten( $secondary_light_color, 8% );
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #777;

    .cells{
        margin: 1px;
        padding: 4px 6px;

        border-radius: 6px;
    }

    h3{
        font-size: 1.4rem;

        text-align: center;

        background-color: lighten( $primary_dark_color, 10% );
        border: 1px solid darken( $primary_dark_color, 10% );
    }

    h4{
        font-size: 1.1rem;

        text-align: center;

        background-color: lighten( $primary_dark_color, 30% );
        border: 1px solid darken( $primary_dark_color, 10% );
    }

    h5{
        font-size: 1rem;

        text-align: center;

        background-color: lighten( $secondary_dark_color, 10% );
        border: 1px solid darken( $secondary_dark_color, 10% );
    }
}

#studentsColumn{

    width: 14%;
    height: 100%;

    .students{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;

        border: 1px solid #666;
        cursor: pointer;

        transition: background-color .3s;

        &:hover{
            background-color: #aaa;
        }
    }

    #studentOptCell{

        font-size: 1.4rem;
        text-align: center;
        background-color: #aaa;
        cursor: pointer;

        transition: background-color .4s;

        &:hover{
            background-color: #666;
        }
        
        .fas{
            color: black;
        }
    }
}

#gradesGrid{

    display: flex;
    flex-direction: column;
    width: 86%;

    #stagesContainer{

        display: flex;
        flex-direction: row;

    }

    .buttons{
        cursor: pointer;

        transition: background-color .3s;

        &:hover{
            background-color: #aaa;
        }
    }
}