//Colours

$primary_dark_color: rgb(32, 179, 32);
$secondary_dark_color: rgb(255, 187, 0);
$tertiary_dark_color: rgb(145, 0, 212);

$primary_light_color: lighten( $primary_dark_color, 40%);
$secondary_light_color: rgb(251, 226, 157);

$primary_bright_color: rgb(145, 255, 0);

$white: beige;

$primary_dark_text_color: darken( $primary_dark_color, 6% );
$primary_light_text_color: lighten( $primary_light_color, 6% );
$secondary_dark_text_color: lighten( $secondary_dark_color, 6% );
$secondary_light_text_color: lighten( $secondary_light_color, 6% );


//Heights

$menu_buttons_height: 3.5vh;

//Fonts

@font-face
{
        font-family: 'Cantarell';
        font-weight: normal;
        src: url('../fonts/cantarell/Cantarell-Regular.otf');
}

@font-face
{
        font-family: 'Cantarell';
        font-weight: bold;
        src: url('../fonts/cantarell/Cantarell-Bold.otf');
}

@font-face
{
        font-family: 'Cantarell';
        font-weight: 800;
        src: url('../fonts/cantarell/Cantarell-ExtraBold.otf');
}

@font-face
{
        font-family: 'Cantarell';
        font-weight: 300;
        src: url('../fonts/cantarell/Cantarell-Light.otf');
}

@font-face
{
        font-family: 'Cantarell';
        font-weight: 200;
        src: url('../fonts/cantarell/Cantarell-Thin.otf');
}