* {
  margin: 0;
  padding: 0;
  font-family: "Cantarell";
}

html {
  position: relative;
  height: 100vh;
  font-size: 0.8vw;
}

body {
  padding: 12px;
  max-height: 98%;
  background-color: #fbe29d;
  user-select: none;
}

#top-padding-coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  z-index: 1;
  background-color: #fbe29d;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.whole-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0000;
}
.whole-bg a {
  margin-top: 4%;
  text-decoration: none;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0003;
  z-index: 10;
}

.fa-info-circle {
  margin-left: 0.8vw;
  color: #c82f00;
  font-size: 1rem;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 88%;
  margin: 10px auto;
  padding: 5vh 0;
  background-image: url(../images/header_img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px #20b320;
}
header nav {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
header nav button {
  margin-left: 8px;
  padding: 10px 16px;
  font-family: "Cantarell";
  font-weight: bold;
  font-size: 1.2rem;
  color: beige;
  background-color: #444;
  border: 2px solid #888;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
header nav button:hover {
  color: #444;
  background-color: beige;
}

h1 {
  padding: 16px 32px;
  color: #d16eff;
  text-shadow: 0 0 20px black;
  font-size: 5rem;
  font-family: "Cantarell";
  background-color: #9100d4;
  border: 1px solid #444;
  border-radius: 34%;
  box-shadow: 0 0 14px 10px #333;
  opacity: 0.8;
}

#version {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 14vh auto;
  padding: 14px;
  border: 3px solid #74cc00;
  border-radius: 15px;
  box-shadow: 0 0 8px 2px #333;
}
#version p {
  margin-bottom: 14px;
  color: #1b991b;
  text-align: center;
  font-family: "Cantarell";
  font-size: 1.6rem;
}
#version #title {
  font-weight: bold;
  font-size: 2rem;
}

#footer {
  width: 74%;
  margin: 40px auto 0;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Cantarell", sans-serif;
  font-size: 80%;
  user-select: none;
  background-color: #222;
  border: 3px solid #888888;
}
#footer #footer_data {
  width: 40%;
  color: #b6ffb6;
}
#footer #footer_data li {
  margin: 8px;
  font-size: 0.9rem;
  list-style: none;
}
#footer #footer_data a {
  text-decoration: none;
  color: inherit;
}
#footer #developed {
  width: 8%;
  margin: 10px;
}

#topNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6vh;
}

#courseSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 64%;
  box-sizing: border-box;
  background-color: #ffcf4d;
  border: 2px solid #20b320;
  border-radius: 30px;
}
#courseSelector .selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 110%;
  font-family: "Arial";
  font-size: 1.2rem;
  color: #444;
  cursor: pointer;
}
#courseSelector .selector p {
  font-family: "Cantarell";
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
  color: orangered;
  transition: color 0.4s;
}
#courseSelector .selector:hover p {
  color: #555;
}
#courseSelector .selector .buttonsContainer {
  position: absolute;
  bottom: 3px;
  left: 0%;
  z-index: -2;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #444;
  transition: transform 0.35s linear;
}
#courseSelector .selector .buttonsContainer button {
  width: 100%;
  height: 3.5vh;
  box-sizing: border-box;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #42dd42;
  border: 1px solid #91ff00;
  border-top: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s;
}
#courseSelector .selector .buttonsContainer button:hover {
  background-color: #888;
}
#courseSelector .selector .buttonsContainer .active {
  background-color: #188818;
}
#courseSelector .selector .buttonsContainer .active:hover {
  background-color: #188818;
}
#courseSelector .selector:hover .buttonsContainer {
  transform: translateY(100%);
}
#courseSelector #classSelector {
  width: 16%;
}
#courseSelector #courseOptContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 24%;
  font-size: 1.6rem;
  text-align: center;
}
#courseSelector #courseOptContainer i {
  color: #1b991b;
  transition: color 0.4s;
  cursor: pointer;
}
#courseSelector #courseOptContainer i:hover {
  color: #0d4b0d;
}
#courseSelector #courseOptContainer button {
  width: 36%;
  height: 4vh;
  font-family: "Cantarell", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: orangered;
  background-color: beige;
  border: 1px solid #555;
  border-radius: 6px;
  transition: color 0.3s, background-color 0.3s;
}
#courseSelector #courseOptContainer button:disabled {
  color: beige;
  background-color: #aaa;
}
#courseSelector #courseOptContainer button:hover:not(#courseSelector #courseOptContainer button:disabled) {
  color: beige;
  background-color: orangered;
  cursor: pointer;
}
#courseSelector #courseOptContainer button:active {
  color: beige;
  background-color: #444;
}

#userProfile {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  padding: 4px;
  background-color: #24c924;
  border: 2px solid #91ff00;
  border-radius: 30px;
  cursor: pointer;
}
#userProfile #imageProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 100%;
}
#userProfile #imageProfile i {
  font-size: 2.8rem;
  color: #ffcf4d;
  text-shadow: 0 0 4px #777;
}
#userProfile #imageProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #188818;
  border-radius: 30px;
  box-sizing: border-box;
}
#userProfile p {
  width: 80%;
  padding: 0 8px;
  font-family: "Cantarell";
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
  color: #c8f5c8;
  text-shadow: 0 0px 4px black;
  transition: color 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#userProfile:hover p {
  color: #555;
}
#userProfile .buttonsContainer {
  position: absolute;
  bottom: 1px;
  left: 12%;
  z-index: -2;
  display: flex;
  flex-direction: column;
  width: 76%;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #444;
  transition: transform 0.35s linear;
}
#userProfile .buttonsContainer button {
  width: 100%;
  height: 3.5vh;
  box-sizing: border-box;
  font-size: 1.1rem;
  background-color: #ffcf4d;
  border: 1px solid orange;
  border-top: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s;
}
#userProfile .buttonsContainer button:hover {
  background-color: #888;
}
#userProfile:hover .buttonsContainer {
  transform: translateY(100%);
}

.forms {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 3% auto 6%;
  padding: 2vw;
  background-color: #20b320;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 4px #777;
}
.forms h3 {
  margin: 6px auto;
  font-family: "Cantarell";
  font-size: 2.2rem;
  color: #c8f5c8;
  text-align: center;
}
.forms span {
  position: relative;
  display: flex;
}
.forms span .fa-info-circle {
  position: absolute;
  right: 2%;
  top: 56%;
}
.forms input, .forms textarea, .forms label {
  width: 80%;
  margin: 22px auto 0px;
  padding: 8px;
  font-family: "Arial";
  font-size: 1.3rem;
  color: #444;
  background-color: beige;
  border: 1px solid #20b320;
  border-radius: 6px;
  resize: none;
}
.forms input:focus, .forms textarea:focus, .forms label:focus {
  outline: none;
  box-shadow: 0 0 2px 3px #91ff00;
}
.forms input::selection, .forms textarea::selection, .forms label::selection {
  color: green;
  background-color: #91ff00;
}
.forms input[type=file] {
  display: none;
  font-size: 0.8rem;
}
.forms label:hover {
  box-shadow: 0 0 2px 3px #91ff00;
  cursor: pointer;
}
.forms .sendButton {
  width: 70%;
  margin: 32px auto 0;
  padding: 8px;
  font-family: "Cantarell", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  background-color: #ffc933;
  border: 1px solid #20b320;
  border-radius: 6px;
  cursor: pointer;
}
.forms .sendButton:hover {
  box-shadow: 0 0 2px 3px #91ff00;
}
.forms .sendButton:active {
  color: beige;
  background-color: #666;
}
.forms button:focus {
  outline: none;
  box-shadow: 0 0 2px 3px #91ff00;
}
.forms a {
  text-decoration: none;
}
.forms a:focus {
  outline: none;
  text-decoration: underline;
}
.forms .link {
  font-size: 0.96rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  transition: color 0.4s linear;
}
.forms .link:hover {
  color: #0000af;
}
.forms .fa-window-close {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #664b00;
  cursor: pointer;
}
.forms #buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 40px auto 0;
  box-sizing: border-box;
}
.forms #buttonsContainer .sendButton {
  margin: 0;
}

.fa-trash-alt {
  color: #eb0000 !important;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.4s !important;
}
.fa-trash-alt:hover {
  color: #a31010 !important;
}

#cont_spinner {
  margin-top: -6%;
  padding: 60px;
  text-align: center;
  background-color: #fbe29d;
  border: 2px solid #20b320;
  border-radius: 20%;
  box-shadow: 0 0 2px 3px #91ff00;
}
#cont_spinner i {
  font-size: 5rem;
  color: #ff642c;
  transform-origin: center;
  animation: turn 1.6s infinite;
}

@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#mainSheet {
  position: relative;
  z-index: -5;
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 82vh;
  margin: 5vh auto 0;
  padding: 18px;
  box-sizing: border-box;
  background-color: #fdeec4;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #777;
}
#mainSheet .cells {
  margin: 1px;
  padding: 4px 8px;
  height: fit-content;
  white-space: nowrap;
}
#mainSheet .container {
  margin: 1px 2px;
  border: 1px solid;
  border-radius: 6px;
}
#mainSheet .bigTitle {
  background-color: #20b320;
  border-color: #188818;
}
#mainSheet #courseTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
  font-size: 1.6rem;
  color: #c8f5c8;
  text-shadow: 0 0px 4px black;
}
#mainSheet .stageContainer {
  background-color: #83e983;
  border-color: #188818;
}
#mainSheet .testGroupContainer {
  background-color: #c0f4c0;
  border-color: #188818;
}
#mainSheet .testContainer {
  background-color: #ffc933;
  border-color: #188818;
}
#mainSheet .studentContainer {
  background-color: #fdeec4;
  border-color: #115c11;
  font-family: "Arial";
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.3s;
}
#mainSheet .studentContainer:hover {
  background-color: #aaa;
}
#mainSheet h3 {
  font-size: 1.4rem;
  text-align: center;
}
#mainSheet h4 {
  font-size: 1.1rem;
  text-align: center;
  text-overflow: ellipsis;
}
#mainSheet h5 {
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
}
#mainSheet .buttons {
  width: fit-content;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#mainSheet .buttons.stage {
  background-color: #83e983;
}
#mainSheet .buttons.testGroup {
  background-color: #c0f4c0;
}
#mainSheet .buttons.test {
  background-color: #ffc933;
}
#mainSheet .buttons:hover {
  background-color: #aaa;
}
#mainSheet .edit {
  cursor: pointer;
  color: black;
  transition: color 0.4s;
}
#mainSheet .edit:hover {
  color: #e1a1ff;
}
#mainSheet .score {
  font-family: "Arial";
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-color: #555;
}
#mainSheet .score:focus {
  user-select: all;
}
#mainSheet .score.grades {
  width: 2.2vw;
  background-color: beige;
  cursor: pointer;
  text-overflow: ellipsis;
}
#mainSheet .score.avr {
  width: 3vw;
  background-color: #ddd;
}
#mainSheet #promGral {
  background-color: #e8b5ff;
}

#studentsColumn {
  display: flex;
  flex-direction: column;
  width: 13%;
}

#gradeSheet {
  overflow-y: auto;
}

#gradesGrid {
  display: flex;
  flex-direction: row;
  width: 86%;
}
#gradesGrid #stagesContainer {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  height: fit-content;
  overflow: auto;
}

#gradeSheet, .testGroupsContainer, .testsContainer, .leftHalfContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testGroupsContainer {
  align-items: end;
}

.gradesContainer, .averagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
